@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

//variables
$logo-max-width: 160px;
$a-color: #ffffff;
$hover-color: #E18B22;
$button-color: #E18B22;
$text-color: #FFC0CB;

//mixins
@mixin commonButton($pad1, $pad2, $color){
    border: none;
    padding: $pad1 $pad2;
    background-color: $button-color;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    &:hover{
        background-color: $color;
    }
}
@mixin commonEffect($top, $left){
        &::after{
            content: '';
            position: absolute;
            top: $top;
            left: $left;
            height: 7px;
            width: 50px;
            background-color:$button-color; 
            transform: translateY(-50%);
        }
}

@import "breakpoints";

body {
    background-color: #F8F6F1;
}

//Navbar

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 10%;

    .nav-menu{
        display: flex;

        a{
            padding: 10px 20px;
            color: $a-color;
            transition: ease-in-out 0.3s;
            font-size: 15px;
            font-weight: 500;
            transition: background-color 0.3s ease-in-out;
            &:hover{
                color: $hover-color;
            }
            @include lg{
                &:hover{
                    color: #932325;
                }
            }
        }

        li{
            @include lg{
                margin-bottom: 8px;
                display: block;
            }
        }

        @include lg{
            flex-direction: column;
            top: 100%;
            width: 100%;
            height: 200px;
            position: absolute;
            justify-content: center;
            background-color: $button-color;
            display: none;
            // transition: transform 1s ease;
            transform: translateY(-200px);
            &.active{
                display: flex;
            }
        }
    }
    
    .logo {
      img {
        max-width: $logo-max-width;
        height: auto;
        @include md{
            padding-left: 10px;
        }
      }
    }

    .button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            @include commonButton(10px, 30px, #c15216);
            color: $a-color;
            font-weight: 500;
            font-size: 16px;
            margin-right: 15px;
            @include lg{
                @include commonButton(10px, 30px, #c15216);
                margin-right: 0;
            }
            @include sm{
                @include commonButton(5px, 15px, #c15216);
                margin-right: 0;
                font-size: 14px;
            }
        }
        #menu{
            font-size: 25px;
            cursor: pointer;
            z-index: 1001;
            color: $a-color;
            display: none;
            @include lg{
                display: block;
                margin-left: 15px;
            }
        }
    }
    @include lg{
        padding: 10px 20px 10px 0;
        transition: .3s;
    }

}


// home-section

.home{
    padding: 60px 12%;
    width: 100%;
    background-image: url('../Rest/header-1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    .home-img{
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    .home-content{

        @include xl{
            padding-top: 50px;
            text-align: center;
        }
        
        h4{
            font-family: Caveat;
            font-size: 35px;
            color: $button-color;
        }
        h1{
            font-size: 65px;
            font-weight: 700;
            padding: 15px 0;
            font-family: Poppins;
            color: $text-color;
        }
        p{
            color: $a-color;
            padding: 15px 0;
        }
        .button{
            button{
                @include commonButton(10px,30px, #c15216);
                color:$a-color;
                margin: 30px 0;
                font-size: 1.2rem;
            }
        }
    }

    @include xl{
        grid-template-columns: 1fr;
        height: 100%;
        background-position: center;
        padding: 90px 3%;
    }
}

//Item-sectio 

.item-section{
    display: flex;
    gap: 20px;
    padding: 100px;
    flex-wrap: wrap;
    
    .item{
        // border: 2px solid black;
        flex: 1;
        max-width: 25%;
        padding: 25px 40px 25px 40px;
        text-align: center;
        background-color: $a-color;
        filter: drop-shadow(7px 15px 7px #0000000f);
        overflow: hidden;
        transition: all ease-in-out 0.3s;
        cursor: pointer;

        &:hover{
            background-color: $button-color;
        }

        &:hover i{
            color: $a-color;
        }
        &:hover h1{
            color: $a-color;
        }

        &:hover p{
            color: $a-color;
        }

        &:hover img{
            filter: drop-shadow(7px 7px 7px #0000006c);
        }
        i{
            font-size: 50px;
            color: $button-color;
            margin-bottom: 10px;
            @include sm{
                font-size: 70px;
            }
        }

        p{
            color: $button-color;
            color: #1c1b1b;
            margin: 10px 0 10px 0;
        }

        img{
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
        @include lg{
            max-width: 50%;
            justify-content: center;
        }
        @include sm{
            max-width: 100%;
        }
    }
    @include md{
        flex-direction: column;
        align-items: center;
    }

    @include lg{
        padding: 50px;
    }
}

// offer-section

.offer-section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2;
    background-color: $a-color;
    padding: 25px 100px 25px 100px;

    @include lg{
        grid-template-columns: 1fr;
        padding: 25px 50px 25px 50px;
    }

    img{
        width: 100%;
        max-width: 100%;
    }
    span{
        color: $button-color;
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 15px;
        color: grey;
    }
    li{
        font-size: 1rem;
        padding-bottom: 10px;
        font-weight: 600;
        span{
            margin-right: 15px;
        }
    }
    button{
        @include commonButton(10px, 30px, #c15216);
        margin-top: 15px;
        color: $a-color;
        font-size: 1.2rem;
    }
}

//offer-section-2


.main-div{
    background-color: $a-color;
    display: flex;
    padding: 100px;
    color: $a-color;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include sm{
        padding: 50px;
    }

    @include xl{
        flex-direction: column;
        justify-content: space-between;
    }
    
    .left-div{
        display: flex;
        align-items: center;
        flex: 1;
        padding: 25px;
        background-size: cover;
        background-image: url('../Rest/noodle-banner.jpg');
        
    }
    .top-right-divs{
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        @include custom(630px){
            flex-direction: column;
        }
    }
    .top-div-1{
        flex-basis: calc(50% - 15px);
        padding: 25px 75px 25px 25px;
        margin: 0 0 0 5px;
        background-size: cover;
        background-image: url('../Rest/burger-banner.png');
        
        @include xl{
            margin: 5px 5px 0 0;
        }
        @include custom(630px){
            margin: 5px 0 0 0;
        }
    }
    .top-div-2{
        flex-basis: calc(50%);
        padding: 25px 75px 25px 25px;
        margin: 0 0 0 5px;
        background-size: cover;

        background-image: url('../Rest/drink-banner.png');
        @include xl{
            margin: 5px 0 0px 0;
            flex-basis: calc(50% + 10px);
        }
    }
    .bottom-div{
        padding: 25px 25px 100px 25px;
        flex-basis: 100%;
        margin: 5px 5px 0 5px;
        background-size: cover;
        background-image: url('../Rest/pizza.jpg');

        @include xl{
            margin: 5px 0 0 0 ;
        }
    }
    button{
        @include commonButton(5px, 15px, #c15216);
        margin-top: 15px;
        color: $a-color;
    }
    p{
        margin-top: 10px;
    }
}

// review-section

.review-section{

    padding: 40px;

    #head, #head-1, #tagline{
        text-align: center;
        padding: 15px;
    }
    #tagline{
        font-size: 1rem;
        @include sm{
            font-size: 0.8rem;
        }
    }
    #head{
        color: #932325;

    }
    #head-1{
        font-size: 2.5rem;
        @include sm{
            font-size: 2rem;
        }
    }
    span{
        color: $button-color;
    }
    .review-flex{
        display: flex;
        justify-content: center;
        margin: 0 20px;
    
        @include md{
            flex-direction: column;
            align-items: center;
            margin-right: 0;
        }
        @include sm{
            margin-left: 0;
        }
        .review{
            // border: 2px solid black;
            padding: 20px;
            margin: 10px;
            background-color: $a-color;
            border-radius: 7px;
            max-width: 300px;
            
            .user{
                display: flex;
                align-items: center;

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

            #name{
                font-weight: 700;
            }

            #name, p{
                margin: 10px 0;
            }
            span{
                color: $hover-color;
            }
        }
    }

}


//Footer Section
.footer-section{
    
    background-image: url('../Rest/footer-banner.jpg');
    margin-top: 2rem;
    background-size: cover;
    padding-top: 50px;
    background-position: center;
    .footer-flex{
        display: flex;
        justify-content: center;
        @include custom(960px){
            flex-direction: column;
        }
        
        .footer-details{
            padding: 40px;
            
            h1 {
                font-size: 2rem;
                position: relative;
              
                @include commonEffect(60%, 25%);
              
                @include custom(1050px) {
                  @include commonEffect(62%, 30%);
                }
              
                @include lg {
                  @include commonEffect(62%, 18%);
                }
              
                @include md {
                  &::after {
                    content: none;
                  }
                }
              }
            
            p{
                color: grey;
                padding: 15px 15px 15px 0;
            }

            a{
                color: $button-color;
                font-size: 2.5rem;
                margin-right: 8px;
            }

            h3{
                position: relative;
                @include commonEffect(60%, 33%);
                margin-bottom: 15px;
                margin-top: 15px;
                @include custom(1050px){
                    @include commonEffect(62%, 38%);
                }
                @include lg{
                    @include commonEffect(62%, 23%);
                }
                @include md{
                    &::after{
                        content: none;
                    }
                }
            }
            li{
                color: grey;
                padding: 10px 10px 10px 0;

            }
        }
        
        .contact-details{
            padding: 40px;

            #contact{
                position: relative;
                @include commonEffect(60%, 35%);
                @include custom(1050px){
                    @include commonEffect(62%, 38%);
                }
                @include lg{
                    @include commonEffect(62%, 25%);
                }
                @include md{
                    &::after{
                        content: none;
                    }
                }
            }   
            .details{
                li{
                    margin: 10px 10px 15px 0;
                    font-weight: 500;
                    color: grey;
                }
            }
            .book-form{

                // border: 2px solid black;
                padding: 2rem 1.5rem 2.5rem 2.5rem;
                border-radius: 5px;
                @include md{
                    padding-right: 2.5rem;
                }
                box-shadow: 0px 0px 3px #0000006c;
                h1{
                    margin: 0.2rem;
                    font-size: 2rem;
                    position: relative;
                    @include commonEffect(62%, 55%);
                    @include custom(1080px){
                        @include commonEffect(62%, 60%);
                    }
                    @include lg{
                        @include commonEffect(62%, 38%);
                    }
                    @include md{
                        &::after{
                            content: none;
                        }
                    }
                }
                
                form{
                    input{
                        padding: 0.8rem;
                        margin: 0.2rem;
                        max-width: 100%;
                        width: 45%;
                        outline: none;
                        transition: ease-in-out 0.3s;
                        &:focus{
                            border: 2px solid $button-color;
                        }
                        @include md{
                            width: 100%;
                        }
                    }
                    textarea{
                        margin: 0.2rem;
                        padding: 0.8rem;
                        outline: none;
                        transition: ease-in-out 0.3s;
                        
                        &:focus{
                            outline: 2px solid $button-color;
                        }
                        @include lg{
                            width: 92%
                        }
                        @include md{
                            width: 100%
                        }
                    }
                    button{
                        @include commonButton(10px, 35px, #c15216);
                        margin: 0.2rem;
                        color: $a-color;
                    }
                }
            }
        }
    }
}